.match {
    display: flex;
    flex-flow: row;
    margin: 5px 0px;
    padding: 10px 10px;
    align-items: center;
}

.match.victory{
    background-color: rgb(213, 255, 210);
}

.match.defeat{
    background-color: rgb(255, 183, 183);
}

.match > div {
    width: 100px;

}

.champion-image{
    display: flex;
    flex-flow: column;
    align-items:center;
    justify-content: center;
}

.champion-image img {
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.champion-name{
    font-weight: bold;
    padding-top: .3rem;
}

.KDA {
    font-weight: bold;
}

.KDA .kills {
    color: rgb(49, 224, 160);
}

.KDA .deaths {
    color: rgb(243, 54, 54);
}

.stats {
    display: flex;
    flex-flow: column;
    text-align: center;
}